/* Global */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

* {
	margin:
	padding:
	font-family:
	color:
	text-decoration:
	list-style:
}

html {
	scroll-behavior:
}

body {
	background-color:
}

/* Shared Styles */
nav, footer {
	display:
	width:
	justify-content:
	align-items:
	padding:
}

nav .container, footer .container {
	justify-content:
	width:
}

nav .initials:hover, .nav-btn a:hover, ion-icon:hover {
	color:
}

.about, .projects, .contact {
	display:
	justify-content:
	padding:
}

.container {
	display:
	align-items:
	width:
	margin:
}

.header {
	font-size:
	padding-bottom:
}

.body-txt {
	font-size:
}

/* Nav */
nav {
	position:
	background-color:
	filter:
	z-index:
}

nav .initials {
	font-size:
	font-weight:
	padding-bottom:
	transition:
}

.nav-btn {
	display:
	gap:
}

.nav-btn a {
	font-size:
	font-weight:
	transition:
}

/* Hero */
.hero {
	display:
	justify-content:
	height:
}

.hero .container {
	justify-content:
}

.hero .left, .contact .container {
	display:
	flex-direction:
	gap:
}

.hero .name {
	font-size:
}

.hero .tagline {
	font-size:
	font-weight:
	width:
}

.resume-btn, .contact-btn {
	font-size:
	font-weight:
	padding:
	width:
	background-color:
	color:
	border-radius:
	transition:
}

.resume-btn:hover, .contact-btn:hover {
	transform:
}

.hero img {
	height:
	width:
	border-radius:
	object-fit:
	object-position:
	border:
}

/* About */
.about .container {
	flex-direction:
	align-items:
}

/* Projects */
.projects .container {
	flex-direction:
	gap:
}

.project-grid {
	display:
	width:
	grid-template-columns:
	justify-content:
  	align-items:
  	gap:
}

.project-grid a img {
	width:
	height:
	background-color:
	border-radius:
	filter:
	transition:
}

.project-grid a img:hover {
	transform:
}

/* Contact */
.contact .container {
	align-items:
}

/* Footer */
footer {
	background-color:
}

footer h1 {
	font-size:
	color:
}

.footer-btn {
	display:
	gap:
}

.footer-btn a {
	display:
}

ion-icon {
	color:
	font-size:
	transition:
}